<!-- fhaghverd Feb 24 -->

<launch>
	<node pkg="can_ros" type="wrist_node" name="wrist" output="screen" respawn="true"/>
	
	<group ns="leader"> 
		<node pkg="wam_bringup" type="wam_node_teleop" name="wam" output="screen"> 
			<env name="BARRETT_CONFIG_FILE" value="/home/wam/catkin_ws/src/barrett-ros-pkg/wam_bringup/launch/haptic_wrist_config/default_can1.conf"/>
		</node>
	</group>
	
	<!--<machine name="zeus" address="192.168.1.10" user="robot" password="WAM" env-loader="/home/robot/setup_teleop_env.sh"/>
	<group ns="follower"> 
		<node pkg="wam_bringup" type="wam_node_teleop" name="wam" output="screen" machine="zeus">
			<env name="BARRETT_CONFIG_FILE" value="/home/robot/with_hand_config/default_can0.conf"/>
		</node> 
	</group>-->
</launch>
